:root {
    --color-accent: #003E77;
}

main {
    color: #353535;
}

h1 {
    font-size: 3rem;
    margin-top: -1rem;
    margin-bottom: .3125rem;
}

h2 {
    font-size: 1.25rem;
    font-weight: 400;
    margin-block: .3125rem;
}

p {
    font-size: 1rem;
    font-weight: 400;
    margin-block: .3125rem;
}

button {
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

button:hover {
    cursor: pointer;
}

/* --- HEADER ---*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100vw;
    height: 70px;
    padding-inline: 50px;
    box-sizing: border-box;

    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index: 1000;
}

header>div {
    flex-basis: 100%;
    display: flex
}

.logo {
    width: 160px;
}

.logo-link {
    display: flex;
    flex-direction: column;
    color: var(--color-accent);
    font-size: 0.85rem;
}

.logo-container {
    padding-top: 0.3rem;
    margin-block: auto;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    font-size: 1.4rem;
}

a {
    text-decoration: none;
    color: #b1b1b1;
}

a:hover {
    text-decoration: underline;
}

.nav-container a {
    padding-inline: 10px;
}

.nav-container a:hover {
    text-decoration: none;
    background-color: #f6f6f6;
    outline: 5px solid #f6f6f6;
    border-radius: 999px;
}

/* --- FOOTER ---*/

footer {
    display: flex;
    align-items: center;

    width: 100vw;
    height: 70px;
    padding-inline: 50px;
    box-sizing: border-box;

    background-color: #f6f6f6;
    z-index: 1000;

    color: #b1b1b1;
}

.footer-nav-container {
    display: flex;
    gap: 20px;
}

/* --- MAIN ---*/

main {
    padding-block: 100px;
    padding-inline: 50px;
}

/* --- CARD HOLDER ---*/

.card {
    width: 81px;
    height: 128px;
    border-radius: 7px;
    position: relative;
}

.card-expanded {
    border-radius: 15px;
    position: relative;
}

.card-expanded-container {
    display: flex;
    justify-content: right;
}

.card-shadow {
    filter: drop-shadow(2px 0px 4px rgba(0, 0, 0, 0.25));
}

.card-container {
    margin-top: -35px;
    margin-bottom: 30px;
    display: grid;
    /* grid-template-columns handled in jsx */
}

.card-container-child {
    display: flex;
    justify-content: center;
}

.card-cancel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 100px;
}

.card-cancel-button {
    border: none;
    padding: 0;
    z-index: 1000;
    background-color: transparent;
    box-shadow: none;
}

.card-cancel-icon {
    width: 2rem;
    height: 2rem;
    color: #b1b1b1;
    border-radius: 50%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.40);
}


/* --- CARD DETAIL ---*/

.card-detail-page {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card-detail-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 0.25rem;
}

.card-detail-container {
    display: flex;
    flex-direction: row;

    gap: 55px;
}

.card-detail-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 500px;
}

.card-detail-info-section {
    display: flex;
    flex-direction: column;
}

.card-detail-info-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.card-detail-info-row>img {
    height: 1.5rem;
}

.stars {
    height: 1.5rem;
    display: flex;
    gap: 1px;
}

.star-filled {
    height: 1.5rem;
}

.star-empty {
    height: 1.5rem;
    filter: blur(1px) grayscale(1);
    opacity: 0.5;
}

/* --- MAP ---*/

.map-container {
    width: 80%;
}

/* --- CARD SORTING ---*/

.sort-select-container {
    position: absolute;
    top: 197px;
    left: 45px;
    z-index: 1000;

    display: flex;
    gap: 0.2rem;
}

.sort-select-container > button {
    height: 2.35rem;
    width: 2.35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}

.sort-select-container > button > img {
    height: 1.5rem;
    width: 1.5rem;
}

.sort-select-container > div {
    min-width: 180px;
}

/* --- STATS ---*/

.stats-table-container {
    width: 100%;
    max-width: 800px;
    margin-inline: auto;
    
    display: flex;
    flex-direction: column;
}

table {
    font-size: 1rem;
    color: #464646;
    width: 100%;
    table-layout: fixed;
}

thead {
    background-color: #e1e1e1;
}

tr:nth-child(even) {
    background-color: #f6f6f6;
}

.sort-visuals {
    display: flex;
    flex-direction: column;
}

.sort-visuals > span {
    font-size: 0.5rem;
    margin-block: -0.05rem;
}

td {
    padding-block: 0.5rem;
    padding-inline: 0.9rem;
    width:auto;
}

th > button  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    box-shadow: none;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding: 0;
    padding-block: 0.5rem;
    padding-inline: 0.9rem;
}

td > a {
    color: #464646;
}

/* --- ABOUT ---*/

.about-page-container {
    width: 100%;
    max-width: 800px;
    margin-inline: auto;
    
    display: flex;
    flex-direction: column;
}

.about-me-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.my-image {
    border-radius: 50%;
    height: 8rem;
}

.about-me-text > h2, ul {
    margin-block: 0;
}

.about-me-text > ul {
    padding: 0;
    list-style: none;
}

.about-me-text > ul > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
}

.about-me-text-icon {
    width: 1rem;
    height: 1.25rem;
}

.contact-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
}