:root {
    --card-width: 81px;
    --card-height: 128px;
    --header-height: 70px;

    --content-margins: 50px;
    --content-margins-mobile: 20px;

    --color-accent: #003E77;
    --color-text: #464646;
    --color-background: white;
    --color-button-border: #cccccc;
    --color-link: #b1b1b1;
    --color-nav-hover-background: #f6f6f6;
    --color-footer-background: #f6f6f6;
    --color-table-text: #464646;
    --color-table-header-background: #e1e1e1;
    --color-table-even-row-background: #f6f6f6;
    --color-map: #ddd;
    --color-map-hover: #b1b1b1;
    --color-map-control-border: #cccccc;
    --color-sort-select-hover: #e1e1e1;
    --color-shadow: #00000030;
}

.dark {
    --color-accent: #4181ca;
    --color-text: #e3e3e3;
    --color-background: #1c1c22;
    --color-button-border: #cccccc;
    --color-link: #888;
    --color-nav-hover-background: #222222;
    --color-footer-background: #222222;
    --color-table-text: #bbb;
    --color-table-header-background: #47474c;
    --color-table-even-row-background: #313137;
    --color-map: #47474c;
    --color-map-hover: #ffffff;
    --color-sort-select-hover: #47474c;
    --color-shadow: #000000;
}

h1 {
    font-size: 3rem;
    margin-top: -1rem;
    margin-bottom: .3125rem;
}

h2 {
    font-size: 1.25rem;
    font-weight: 400;
    margin-block: .3125rem;
}

p {
    font-size: 1rem;
    font-weight: 400;
    margin-block: .3125rem;
}

@media (max-width: 768px) {
    p {
        font-size: 0.85rem;
    }
}

button {
    background-color: var(--color-background);
    border: 1px solid var(--color-button-border);
    border-radius: 5px;
    color: var(--color-text);
    box-shadow: 0 1px 2px var(--color-shadow);
}

button:hover {
    cursor: pointer;
}

/* --- HEADER ---*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: var(--header-height);
    padding-inline: var(--content-margins);
    box-sizing: border-box;

    background-color: var(--color-background);
    box-shadow: 0px 2px 5px var(--color-shadow);
    position: sticky;
    top: 0;
    z-index: 1000;
}

@media (max-width: 768px) {
    header {
        padding-inline: var(--content-margins-mobile);
    }
}

header>div {
    flex-basis: 100%;
    display: flex
}

.logo {
    width: 10rem;
    height: 1.6rem;
    margin-top: 0.2rem;
    margin-bottom: -0.2rem;
}

.logo-link {
    display: flex;
    flex-direction: column;
    color: var(--color-accent);
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .logo {
        width: 6rem;
        height: 1.6rem;
        margin-right: 0.5rem;
    }

    .logo-link {
        font-size: 0.5rem;
    }
}

.logo-link:hover {
    text-decoration: none;
}

.logo-container > svg {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--color-accent);
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    font-size: 1.4rem;
}

@media (max-width: 768px) {
    .nav-container {
        gap: 5px;
        font-size: 1rem;
    }
}

a {
    text-decoration: none;
    color: var(--color-link);
}

a:hover {
    text-decoration: underline;
}

.nav-container a {
    padding-inline: 10px;
}

.nav-container a:hover {
    text-decoration: none;
    background-color: var(--color-nav-hover-background);
    outline: 5px solid var(--color-nav-hover-background);
    border-radius: 999px;
}

.nav-more-options {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

/* --- FOOTER ---*/

footer {
    display: flex;
    align-items: center;

    width: 100%;
    height: 70px;
    padding-inline: var(--content-margins);
    box-sizing: border-box;

    background-color: var(--color-footer-background);
    z-index: 1000;

    color: var(--color-link);
}

@media (max-width: 768px) {
    footer {
        padding-inline: var(--content-margins-mobile);
    }
}

.footer-nav-container {
    display: flex;
    gap: 20px;
}

/* --- MAIN ---*/

main {
    color: var(--color-text);
    padding-block: 20px;
    padding-bottom: 40px;
    padding-inline: var(--content-margins);
    display: flex;
    flex-direction: column-reverse;
    overflow: visible; /* Changed set in jsx */
}

@media (max-width: 768px) {
    main {
        padding-inline: var(--content-margins-mobile);
    }
}

.page-container {
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100dvh - var(--header-height));
}

/* --- CARD HOLDER ---*/

.card {
    width: 81px;
    height: 128px;
    border-radius: 7px;
    position: relative;
}

.card-expanded {
    border-radius: 15px;
    position: relative;
}

.card-expanded-container {
    display: flex;
    justify-content: right;
}

@media (max-width: 768px) {
    .card-expanded-container {
        margin-inline: auto;
        margin-block: 1rem;
    }
}

.card-shadow {
    filter: drop-shadow(2px 0px 4px rgba(0, 0, 0, 0.25));
}

.card-container-flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-container-header {
    display: inline-block;
}

.card-container {
    margin-top: -35px;
    display: grid;
    z-index: 100;
    /* grid-template-columns handled in CardHolder.tsx */
}

.card-container-child {
    display: flex;
    justify-content: center;
}

.card-cancel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 100px;
}

.card-cancel-button {
    border: none;
    padding: 0;
    z-index: 1000;
    background-color: transparent;
    box-shadow: none;
}

.card-cancel-icon {
    width: 2rem;
    height: 2rem;
    color: var(--color-link);
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}


/* --- CARD DETAIL ---*/

.card-detail-page {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card-detail-back {
    margin-top: -1.2rem;
    margin-bottom: 1.2rem;
}

@media (max-width: 768px) {
    .card-detail-back {
        margin-top: 0.2rem;
        margin-bottom: -1.8rem;
    }
}

.card-detail-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 54px;
    gap: 0.25rem;
}

@media (max-width: 768px) {
    .card-detail-content {
        margin-top: 0;
    }
}

.card-detail-container {
    display: flex;
    flex-direction: row;

    gap: 55px;
}

.card-detail {
    position: relative;
}

@media (max-width: 768px) {
    .card-detail-container {
        flex-direction: column;
        gap: 20px;
    }
}

.card-detail-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 500px;
}

.card-detail-info-section {
    display: flex;
    flex-direction: column;
}

.card-detail-info-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.card-detail-info-row>img {
    height: 1.5rem;
}

.stars {
    height: 1.5rem;
    display: flex;
    gap: 1px;
}

.star-filled {
    height: 1.5rem;
}

.star-empty {
    height: 1.5rem;
    filter: blur(1px) grayscale(1);
    opacity: 0.5;
}

/* --- MAP ---*/

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.map-control {
  box-shadow: 0 2px 6px var(--color-shadow);
}

.geography:focus {
  outline: none;
}

/* ZOOM CONTROLS */

.zoom-controls {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: var(--color-background);
  border-radius: 8px;
  padding: 0.5rem;
}

.zoom-button {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 4px;
  background: var(--color-footer-background);
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}

.zoom-button:hover {
  background: var(--color-link);;
}


/* --- CARD SORTING ---*/

.sort-select-container {
    max-width: 400px;
    display: flex;
    position: absolute;
    top: calc(var(--header-height) + var(--card-height));
    left: calc(var(--content-margins));
}

@media (max-width: 768px) {
    .sort-select-container {
        left: calc(var(--content-margins-mobile));
    }
}

.sort-select-container > button {
    z-index: 1000;
    height: 2.35rem;
    width: 2.35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}

.sort-select-container > button > img {
    height: 1.5rem;
    width: 1.5rem;
}

.sort-select-container > div {
    z-index: 1000;
    min-width: 180px;
}

/* --- STATS ---*/

.stats-table-container {
    width: 100%;
    max-width: 800px;
    min-width: 500px;
    margin-inline: auto;
    
    display: flex;
    flex-direction: column;
}

table {
    font-size: 1rem;
    color: var(--color-table-text);
    width: 100%;
    table-layout: fixed;
}

thead {
    background-color: var(--color-table-header-background);
}

tr:nth-child(even) {
    background-color: var(--color-table-even-row-background);
}

.sort-visuals {
    display: flex;
    flex-direction: column;
}

.sort-visuals > span {
    font-size: 0.5rem;
    margin-block: -0.05rem;
}

td {
    padding-block: 0.5rem;
    padding-inline: 0.9rem;
    width:auto;
}

th > button  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    box-shadow: none;
    color: var(--color-text);
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding: 0;
    padding-block: 0.5rem;
    padding-inline: 0.9rem;
}

@media (max-width: 768px) {
    th > button, td {
        font-size: 0.85rem;
        padding-block: 0.25rem;
        padding-inline: 0.25rem;
    }
}

td > a {
    color: var(--color-table-text);
    text-decoration: underline;
}

/* --- ABOUT ---*/

.about-page-container {
    width: 100%;
    max-width: 800px;
    margin-inline: auto;
    
    display: flex;
    flex-direction: column;
}

.about-me-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.my-image {
    border-radius: 50%;
    height: 8rem;
}

.about-me-text > h2, ul {
    margin-block: 0;
}

.about-me-text > ul {
    padding: 0;
    list-style: none;
}

.about-me-text > ul > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
}

.about-me-text-icon {
    width: 1rem;
    height: 1.25rem;
}

.contact-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
}